/* phone */
@media all and (max-width: 767px) { 
	.main-layout-grid {
		 grid-template-columns: repeat(1, 1fr);
	}

	.margin-top-small {
		top:40px;
	}

	.main-header { 
		font-size:20px;
		margin-bottom: 20px;
	}
}

/* others */
@media all and (min-width: 768px) {
	.main-layout-grid {
		grid-template-columns: repeat(12, 1fr);
		-webkit-column-gap: 30px;
		-moz-column-gap: 30px;
		column-gap: 30px;
	}

	.margin-top-small {
		top:63px;
	}

	.main-header { 
		font-size:50px;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 0;
		grid-row-start: 1;
	}
}

.main-layout-grid {
	background-color: #fff;
    position: relative;
	width: 100%;
	display: grid;
}

.main-header { 
	color:rgba(32.00000189244747, 37.00000159442425, 46.000001057982445, 1);
	opacity:1;
	font-family:Noto Serif;
	text-align:left;
	letter-spacing:0;
	display: inline-block;
}

.flex-width1 {
	flex-grow: 1;
	flex-basis: 0;
}

.flex-width2{
	flex-grow: 2;
	flex-basis: 0;
}

.flex-width3{
	flex-grow: 3;
	flex-basis: 0;
}

.flex-width9{
	flex-grow: 9;
	flex-basis: 0;
}
