/* phone */
@media all and (max-width: 767px) { 
	.content {
		 top:40px;
		 flex-flow:column;
	}

	.content-header { 
		font-size:20px;
		display: block;
		margin-bottom: 20px;
	}
}

/* others */
@media all and (min-width: 768px) {
	.content {
		top:63px;
		flex-flow:row;
		justify-content: space-between;
	}

	.content-header { 
		font-size:50px;
	}
}

.content {
	background-color: #fff;
    position: relative;
    width: 100%;

	display: inline-flex;
	align-items: flex-start;
}

.content-header { 
	color:rgba(32.00000189244747, 37.00000159442425, 46.000001057982445, 1);
	opacity:1;
	font-family:Noto Serif;
	text-align:left;
	letter-spacing:0;
	display: inline-block;
}

.content-margin {
	flex-grow: 2;
	flex-basis: 0;
}

.content-body-width9 {
	flex-grow: 9;
	flex-basis: 0;
}

.content-body-width3 {
	flex-grow: 3;
	flex-basis: 0;
}

.content-body-width2 {
	flex-grow: 2;
	flex-basis: 0;
}

.content-body-width1 {
	flex-grow: 1;
	flex-basis: 0;
}