

.list-item-container {
  display: inline-block;
  margin-bottom: 60px;
}

.list-item-container a {
  text-decoration: none;
}

.list-item-container img {
  margin-bottom: 30px;
  width: 100%;
}

.list-item-container h3 {
  /* top right bottom left */
  margin: 0px 0px 10px 0px;

  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 26px;
  line-height: 35px;
  color: #20252E;
}

.list-item-container p {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #20252E;
}