/* phone */
@media all and (max-width: 767px) { 
	#project-detail-container {
     top:40px;
  }
  
  #project-detail-content {
  }
}

/* others */
@media all and (min-width: 768px) {
	#project-detail-container {
    top:70px;
  }
  
  #project-summary {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #project-detail-content {
    grid-column-start: 4;
    grid-column-end: 13;
  }
}

#project-summary > h2 {
  margin: 10px 0px 10px 0px ;
  font-family: Noto Serif KR;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #20252E;
}

#project-summary > h3 {
  margin: 10px 0px 10px 0px ;
  font-family: Noto Serif KR;
  font-style: normal;
  font-weight: 200;
  font-size: 36px;
  color: #20252E;
}

#project-summary > p {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
  color: #20252E;
}

#project-summary > p > b {
  font-family: Noto Sans;
  font-weight: 600;
  text-transform: uppercase;
}

.back-arrow {
  top: 10px;
  position: absolute;
  padding-top: 18px;
  padding-bottom: 18px;
  /* filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(17%) hue-rotate(72deg) brightness(101%) contrast(101%); */
}

#project-detail-content {
  /* border: 3px solid teal; */
}

#project-detail-content > img{  
  width: 100%;
  height: 100%;
}
