#bio_text_1 {
	font-family: 'Noto Serif KR';
	font-weight: 300;
	font-size: 36px;
	line-height: 49px;
	color: #20252E;
}

#bio_text_2 {
	font-family: 'Noto Serif KR';
	font-weight: 500;
	font-size: 36px;
	line-height: 49px;
	border-bottom: 2px solid #20252E;
	/* text-decoration: underline; */
	color: #20252E;
}
