#e121_0 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	position:relative;
	width:1440px;
	height:1493px;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin: 0px;
}
#e35_96 { 
	color:rgba(32.00000189244747, 37.00000159442425, 46.000001057982445, 1);
	opacity:1;
	width:383px;
	height:67px;
	position:absolute;
	left:70px;
	top:44px;
	font-family:Noto Serif;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:undefined;
}
#e35_97 { 
	color:rgba(32.00000189244747, 37.00000159442425, 46.000001057982445, 1);
	opacity:1;
	width:640px;
	height:487px;
	position:absolute;
	left:730px;
	top:288px;
	font-family:Noto Serif;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}
#e120_1 { 
	transform: rotate(90.00000250447827deg);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:60px;
	height:0px;
	position:absolute;
	left:720px;
	top:750px;
}
#e119_64 { 
	color:rgba(32.00000189244747, 37.00000159442425, 46.000001057982445, 1);
	opacity:1;
	width:640px;
	height:218px;
	position:absolute;
	left:720px;
	top:987px;
	font-family:Noto Serif;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}
