@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Serif+KR:wght@300;500;600&display=swap');

html,
body {
  height: 100%;
  overflow-y: hidden;

  --contents-with:1920px;
  --contents-left-margin:80px;
  --contents-right-margin:80px;
}

span, div, padding {
  margin: 0px;
}

body {
  margin: 0;
  /* background: #E5E5E5; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}


#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-main {
  margin: 0px;
  flex: 1 1 auto;
  position: relative;
  overflow-y: scroll;
}

.page-main-inner {
  position: absolute;
  top:0px;
  left:0;
  right: 0;
  bottom:0;
  padding: 0px;
  margin: 0;

  max-width: var(--contents-with);
  margin-left: auto;
  margin-right: auto;  
}

.page-main-content {
  padding-left: var(--contents-left-margin); 
  padding-right: var(--contents-right-margin); 
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.vertical-center {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  margin-left: auto;
	margin-right: auto;
}