/* phone */
@media all and (max-width: 767px) { 
    body {
        --circle-size: 100%;
        --circle-text-padding:10px;
        --circle-text-size:16px;
    }

	#expertise-margin {
	
    }
}

/* others */
@media all and (min-width: 768px) {
    body {
        --circle-size: 50%;
        --circle-text-padding:30px;
        /* --circle-text-size:28px; */

        --circle-text-size: min(28px, calc(10px + (28 - 10) * ((100vw - 768px) / (1920.0 - 768.0))));
    }

	#expertise-margin {
		/* flex-grow: 6; */
		/* flex-basis: 0; */
    }
    
    #circle-container{
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 8;
    }

    #expertise-text {
        grid-column-start: 9;
        grid-column-end: 13;
    }
}

#circle-container {
    align-self: start;
}

#circle-tech {
    -ms-transform: translateX(40%);
    transform: translateX(40%);

    justify-content: center;
    align-items: flex-start;
}

#circle-people {
    -ms-transform: translateY(40%);
    transform: translateY(40%);

    justify-content: flex-start;
    align-items: center;
}

#circle-experience {
    -ms-transform: translateX(80%) translateY(40%);
    transform: translateX(80%) translateY(40%);

    justify-content: flex-end;
    align-items: center;
}

#circle-space {
    -ms-transform: translateX(40%) translateY(80%);
    transform: translateX(40%) translateY(80%);

    justify-content: center;
    align-items: flex-end;
}

#aaa {
    position: relative;

    width: 100%;
    height: 100%;
}

#aaa:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.circle {
    position: absolute;
    height: 56%;
    width: 56%;
    box-sizing: border-box;
    padding: var(--circle-text-padding);

    border-radius: 50%;
    border: 2px solid #000000;
    display: inline-flex;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--circle-text-size);
    color: #20252E;
}

#expertise-text p {
    font-family: Noto Serif KR;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #20252E;
}

#expertise-text p span {
    font-family: Noto Serif KR;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #20252E;
}